<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <div class="categories-container">

        <% categories.forEach(category => { %>

            <div class="category-card">

                <h2><%= category.name %></h2>

            </div>

        <% }) %>

    </div>

</main>

<%- include('partials/footer') %>