<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul>
        <li>
  <img src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo" width="200">
  <strong>Bright Future Builders</strong>
</li>

<li>
  <img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo" width="200">
  <strong>Green Harvest Growers</strong>
</li>

<li>
  <img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo" width="200">
  <strong>Unity Serve Volunteers</strong>
</li>
    </ul>
</main>

<%- include('partials/footer') %>